.authWrapper {
  grid-area: auth;
  justify-self: end;
  position: relative;
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 7px;
  color: #ffffff;
}

.userBtn {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.userImg {
  border-radius: 10px;
  box-shadow: 0 0 2px #292D32;
}

.loginLink {
  display: block;
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #292D32;
}

/* .noPhoto {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border: 2px solid #292D32;
} */

.logoutBtn {
  position: absolute;
  right: -12px;
  top: 36px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #292D32;
}

/* @media (max-width: 1200px) {
  .authWrapper {
    justify-self: center;
  }
} */
