.header {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 60px;
  background-color: black;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.headerWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'button name auth';
  gap: 15px;
  align-items: center;
}

.button {
  grid-area: button;
  min-width: min-content;
}

.svg {
  fill: #fff;
}

.name {
  grid-area: name;
  justify-self: center;
  color: #fff;
  cursor: pointer;
}

/* @media (max-width: 1200px) {
  .headerWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'button name' 'auth auth';
  }

  .name {
    justify-self: end;
  }
} */

