.button {
  position: relative;
}

.button:disabled {
  cursor: none;
  pointer-events: none;
}

.likesCount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 12px;
  color: #ffffff;
}

.likesIcon {
  color: black;
}

.likesIcon.liked {
  color: red;
}